@import "../../assets/scss/standards.scss";

.Testimony{
    padding: 5% 15%;
    font-size: 14px;

    h1{
        font-family: "Raleway-Bold";
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
    }

    h6{
        color: #757575;
        text-align: center;
        margin-bottom: 10px;
    }
}